@font-face {
	font-family: ArimaMadurai-Regular;
	src: url(../fuentes/ArimaMadurai-Regular.ttf);
}
@font-face {
	font-family: ArimaMadurai-Bold;
	src: url(../fuentes/ArimaMadurai-Bold.ttf);
}
@font-face{
    font-family: ArimaMadurai-Medium;
    src: url(../fuentes/ArimaMadurai-Medium.ttf);
}